################################################################################
# SAP Script - exemplo de configuracao local
################################################################################

SAPLOGON_PATH=C:\Path\To\SAP\SAPgui\saplogon.exe
SAP_USER=YOUR_SAP_USER
SAP_CLIENT_S4DCLNT100=100
SAP_CONNECTION_S4DCLNT100=DEV SYSTEM
SAP_PASSWORD_S4DCLNT100=YOUR_PASSWORD
SAP_CLIENT_S4QCLNT100=100
SAP_CONNECTION_S4QCLNT100=QAD SYSTEM
SAP_PASSWORD_S4QCLNT100=YOUR_PASSWORD
SAP_CLIENT_S4PCLNT100=100
SAP_CONNECTION_S4PCLNT100=PRD SYSTEM
SAP_PASSWORD_S4PCLNT100=YOUR_PASSWORD
SAP_LANGUAGE=PT
SAP_SYSTEM=QAD
WORKFLOW_SAP_KEY=QAD

TAXAS_CAMBIAIS_TENANT_ID=YOUR_TENANT_ID
TAXAS_CAMBIAIS_CLIENT_ID=YOUR_CLIENT_ID
TAXAS_CAMBIAIS_CLIENT_SECRET=YOUR_CLIENT_SECRET
TAXAS_CAMBIAIS_MAILBOX_UPN=shared-mailbox@company.com
TAXAS_CAMBIAIS_SOURCE_FOLDER=Diarios
TAXAS_CAMBIAIS_BACKUP_FOLDER=Backup Taxas
TAXAS_CAMBIAIS_OUTPUT_DIR=C:\Users\YourUser\Downloads\Taxas Cambiais
TAXAS_CAMBIAIS_GRAPH_BASE_URL=https://graph.microsoft.com/v1.0
TAXAS_CAMBIAIS_AUTHORITY_URL=https://login.microsoftonline.com
TAXAS_CAMBIAIS_GRAPH_SCOPE=https://graph.microsoft.com/.default
TAXAS_CAMBIAIS_MAX_MESSAGES=200
TAXAS_CAMBIAIS_PAGE_SIZE=50
TAXAS_CAMBIAIS_SKIP_INLINE_ATTACHMENTS=false
TAXAS_CAMBIAIS_ONLY_UNREAD=false

AUTHORIZATION_UAT_CREATE_DOCUMENT_SYSTEM_KEY=QAD
AUTHORIZATION_UAT_CREATE_DOCUMENT_COMPANY_CODE=0000
AUTHORIZATION_UAT_CREATE_DOCUMENT_VENDOR=00000000
AUTHORIZATION_UAT_CREATE_DOCUMENT_VENDOR_PAYMENT_METHOD=S
AUTHORIZATION_UAT_CREATE_DOCUMENT_CUSTOMER=00000000
AUTHORIZATION_UAT_CREATE_DOCUMENT_CUSTOMER_COMPANY_CODE=0000
AUTHORIZATION_UAT_CREATE_DOCUMENT_CUSTOMER_GL_ACCOUNT=00000000
AUTHORIZATION_UAT_CREATE_DOCUMENT_CUSTOMER_DOC_TYPE=RV
AUTHORIZATION_UAT_CREATE_DOCUMENT_CUSTOMER_PAYMENT_METHOD=Q
AUTHORIZATION_UAT_CREATE_DOCUMENT_GL_ACCOUNT=00000000
AUTHORIZATION_UAT_CREATE_DOCUMENT_AMOUNT=0,00
AUTHORIZATION_UAT_CREATE_DOCUMENT_CURRENCY=EUR
AUTHORIZATION_UAT_CREATE_DOCUMENT_DOCUMENT_DATE=
AUTHORIZATION_UAT_CREATE_DOCUMENT_POSTING_DATE=
AUTHORIZATION_UAT_CREATE_DOCUMENT_PAYMENT_METHOD=S
AUTHORIZATION_UAT_CREATE_DOCUMENT_DOC_TYPE=KR
AUTHORIZATION_UAT_CREATE_DOCUMENT_REFERENCE=UAT-F110-TEST
AUTHORIZATION_UAT_CREATE_DOCUMENT_HEADER_TEXT=UAT TESTE F110
AUTHORIZATION_UAT_CREATE_DOCUMENT_ITEM_TEXT=UAT F110 TESTE
